@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

:root {
  --primary-color: #fef08a;
  --secondary-color: #1e293b;
}

body {
  font-family: 'Neucha', cursive;
  margin: 0px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-align: center;
  margin-top: 0px;
}

.navigation div {
  font-size: 3rem;
  font-weight: 550;
  padding: 1rem;
}

img {
  display: block;
  margin: 0 auto;
  height: 40rem;
}

textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 15vh;
  margin-top: 2rem;
  font-size: large;
  font-family: inherit;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  outline: none;
  padding: 1rem;
}

button {
  background-color: var(--primary-color);
  border: none;
  /* margin: 1rem 0rem; */
  padding: 1rem 2rem;
  font-family: inherit;
  font-size: larger;
  border-radius: 1rem;
  display: block;
  margin: 1rem auto;
}

#translated-output {
  box-sizing: border-box;
  width: 100%;
  height: 15vh;
  margin-top: 1rem;
  padding: 1rem;
  /* overflow: scroll; */
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  outline: none;
}

.footer {
  margin-top: 1.5rem;
  background-color: var(--primary-color);
  padding: 1.5rem 0rem;
  text-align: center;
  color: var(--secondary-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: var(--secondary-color);
}

.footer ul {
  padding-inline-start: 0px;
}

.footer .footer-header {
  font-weight: bold;
  font-size: x-large;
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0 0.5rem;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: large;
  }
