@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: #14b8a6;
  --dark-gray: #6b7280;
  --off-white: #f3f4f6;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  max-width: 700px;
  margin: auto;
}

hr {
  margin: 2rem 0;
}

/* container */
.container {
  padding: 0 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/* links */
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

.link-blog {
  text-decoration: none;
  font-weight: bold;
}

/* lists */
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0 0.5rem;
}

/* navigation */
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1rem;
}

.navigation .link {
  color: white;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link-active {
  font-weight: bold;
}

/* header */
.hero {
  padding: 2rem;
  padding-top: 5rem;
}

.hero .hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}

.hero-heading {
  padding-top: 1rem;
  color: var(--dark-gray);
  text-align: center;
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

/* section */
.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

/* footer */
.footer {
  background-color: var(--primary-color);
  padding: 2rem 0rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer-projects-blogs {
  margin-top: 5rem;
}

.footer .link {
  color: white;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

/* blog */

.blog-hero {
  max-width: 400px;
  display: block;
  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.blog-img {
  max-width: 600px;
  display: block;
  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
